input {
    keyboard {
        repeat-rate 35
        repeat-delay 200
        xkb {
            layout "us"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}
