prefer-no-csd

include "dms/outputs.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/windowrules.kdl"

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

environment {
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

hotkey-overlay {
    skip-at-startup
}

clipboard {
    disable-primary
}

debug {
    honor-xdg-activation-with-invalid-serial
}
